<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QR Code Generator</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/index.css">

</head>

<body class="container">

  <div class="inner-body">

    <!-- Heading -->
    <div class="text-secondary fs-1 p-2 text-center  m-1 w-50 mx-auto">
      QR Code Generator &nbsp; <i class="fa-solid fa-qrcode"></i>
    </div>

    <div class="p-1">

      <!-- Buttons -->
      <div class="butttons  text-center  p-2">
        <button class="btn btn-outline-secondary m-1" onclick="showText()">
          Text <i class="fa-solid fa-font"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showUrl()">
          URL <i class="fa-solid fa-link"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showMail()">
          Mail <i class="fa-solid fa-link"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showWhatsapp()">
          Whatsapp <i class="fa-brands fa-whatsapp"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showTelephone()">
          Telephone <i class="fa-solid fa-phone"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showSms()">
          SMS <i class="fa-solid fa-comment-sms"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showWifi()">
          Wifi <i class="fa-solid fa-wifi"></i>
        </button>
        <button class="btn btn-outline-secondary m-1" onclick="showQRCodeFromLogo()">
          QR Code from Image <i class="fa-solid fa-image"></i>
        </button>
      </div>

      <br>

      <!-- Form for Text -->

      <div class="card w-50 mx-auto p-3" id="text">
        <form action="http://localhost:5000/text" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for Text </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Text : </label>
            <input type="text" class="form-control shadow" id="input" name="input" placeholder="abc" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn  btn-outline-light shadow-sm">
          </div>
        </form>
      </div>


      <!-- Form for Url -->

      <div class="card w-50 mx-auto p-3" id="url">
        <form action="http://localhost:5000/url" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for URL </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> URL : </label>
            <input type="text" class="form-control shadow" id="input" name="input" placeholder="www.abc.com" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn btn-outline-light shadow-sm">
          </div>
        </form>
      </div>

      <!-- Form for Mail -->

      <div class="card w-50 mx-auto p-3" id="mail">
        <form action="http://localhost:5000/mail" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for Mail </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Mail Id : </label>
            <input type="email" class="form-control shadow" id="mailId" name="mailId" placeholder="www.abc.com"
              required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Subject : </label>
            <input type="text" class="form-control shadow" id="sub" name="sub" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Body : </label>
            <input type="text" class="form-control shadow" id="body" name="body" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn btn-outline-light shadow-sm">
          </div>
        </form>
      </div>

      <!-- Form for Whatsapp -->

      <div class="card w-50 mx-auto p-3" id="whatsapp">
        <form action="http://localhost:5000/whatsapp" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for Whatsapp </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Whatsapp number : </label>
            <input type="text" class="form-control shadow" id="whatsappNum" name="whatsappNum" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Message : </label>
            <input type="text" class="form-control shadow" id="message" name="message" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn btn-outline-light shadow-sm">
          </div>
        </form>
      </div>

      <!-- Form for Telephone -->

      <div class="card w-50 mx-auto p-3" id="telephone">
        <form action="http://localhost:5000/telephone" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for Telephone </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Telephone number : </label>
            <input type="text" class="form-control shadow" id="telephoneNum" name="telephoneNum" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn btn-outline-light shadow-sm">
          </div>
        </form>
      </div>

      <!-- Form for SMS -->

      <div class="card w-50 mx-auto p-3" id="sms">
        <form action="http://localhost:5000/sms" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for SMS </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Mobile number : </label>
            <input type="text" class="form-control shadow" id="mobileNum" name="mobileNum" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Message : </label>
            <input type="text" class="form-control shadow" id="message" name="message" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> QR Code Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrColor" required>
              <option value="black" selected> Black </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="white" class="m-5">White</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Background Color : </label>
            <select class="form-select" aria-label="Default select example" name="qrBgColor" required>
              <option value="white" selected> White </option>
              <option value="red" class="m-5">Red</option>
              <option value="blue" class="m-5">Blue</option>
              <option value="orange" class="m-5">Orange</option>
              <option value="green" class="m-5">Green</option>
              <option value="yellow" class="m-5">Yellow</option>
              <option value="black" class="m-5">Black</option>
            </select>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add Logo (optional) : </label>
            <input type="file" name="picture" id="picture" class="form-control"
              aria-describedby="inputGroupFileAddon04">
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn btn-outline-light shadow-sm">
          </div>
        </form>
      </div>

      <!-- Form for Wifi -->

      <div class="card w-50 mx-auto p-3" id="wifi">
        <form action="http://localhost:5000/wifi" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code for WIFI </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Wifi ID : </label>
            <input type="text" class="form-control shadow" id="wifiId" name="wifiId" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Password : </label>
            <input type="password" class="form-control shadow" id="password" name="password" required>
          </div>
          <br>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn  btn-outline-light shadow-sm">
          </div>
        </form>
      </div>



      <!-- Form for QR Code from LOGO -->
      <div class="card w-50 mx-auto p-3" id="QRCodeFromLogo">
        <form action="http://localhost:5000/QRCodeFromLogo" method="POST" enctype="multipart/form-data">
          <h3 class="text-warning"> QR Code from Image </h3>
          <br>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Enter the Text/URL : </label>
            <input type="text" class="form-control shadow" id="input" name="input" placeholder="www.abc.com" required>
          </div>
          <div class="mb-3 ">
            <label for="name" class="form-label "> <i class="fa-solid fa-edit"></i> Add the image : </label>
            <input type="file" name="picture" id="picture" class="form-control" aria-describedby="inputGroupFileAddon04"
              required>
          </div>
          <div class="text-center ">
            <input type="submit" value="Generate QR Code" id="GenerateQRCode" name="GenerateQRCode"
              class="btn  btn-outline-light shadow-sm">
          </div>
        </form>
      </div>



    </div>
    <br>
  </div>
</body>

<script src="../static/js/index.js"></script>

</html>